/*  */

.projectCard {
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.projectCard:focus-visible,
.projectCard:focus-within {
  outline-width: 0;
}

.projectCard:hover .projectCardContent,
.projectCard:focus-within .projectCardContent {
  opacity: 1;
}

.cardMedia,
.projectCardContent {
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.cardMedia {
  transform: scale(0.97);
}

@media screen and (min-width: 600px) {
  .projectCardContent {
    opacity: 0;
    display: flex;
    flex-direction: column;
  }

  .projectCardOverlay {
    position: absolute;
    inset: 0;
  }

  .projectCard:hover .cardMedia,
  .projectCard:focus-within .cardMedia {
    opacity: 0;
  }

  .cardMedia {
    transform: none;
  }

  .projectCard:focus .projectCardContent,
  .projectCard:focus-within .projectCardContent {
    outline-offset: -4px;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: #3f51b5;
  }
}
